$primary: #5266df;
$danger: #FA5959;
$font-weight-bold: 600;
$font-family-sans-serif: "Rubik", sans-serif;
$enable-negative-margins: true;
$enable-gradients: true;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Declare and Merge custom spacer with original spacers.

$custom-spacers: (
  6: (
    $spacer * 6,
  ),
  7: (
    $spacer * 7,
  ),
);

$spacers: map-merge($custom-spacers, $spacers);

//Declare and Merge custom font size with original font size. To be used on nav-bar

$custom-font-size: (
  7: (
    $font-size-base * 0.8,
  ),
  8: (
    $font-size-base * 0.6,
  ),
);

$font-sizes: map-merge($custom-font-size, $font-sizes);

//Accordion

$accordion-button-active-color: black;
$accordion-button-active-bg: none;
$accordion-button-focus-box-shadow: none;
$accordion-button-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -3 18 17"><path fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8"/></svg>');
$accordion-button-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 18 17"><path fill="none" stroke="#FA5959" stroke-width="3" d="M1 1l8 8 8-8"/></svg>');

//Nav-tabs

$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-border-color:  transparent;
$nav-tabs-link-active-border-color:  transparent;

@import "../node_modules/bootstrap/scss/bootstrap";





//BUTTONS

//Login button size
.login-button {

  @include button-size(0.55rem, 2rem, 0.7rem, 0.3rem);
  @include button-variant($danger, $danger, #ffffff, #ffffff, $danger, $danger);

  @media (max-width: 768px) {
    @include button-variant(transparent, #ffffff, #ffffff, #ffffff);
    @include button-size(0.5rem, 2rem, 1rem, 0.3rem);
    border-width: 2px;
  }

}


.btn-sm-custom-1 {
  //$padding-y, $padding-x, $font-size, $border-radius
  @include button-size(0.55rem, 2rem, 0.7rem, 0.3rem);
}

//Other buttons size
.btn-sm-custom-2 {
  //$padding-y, $padding-x, $font-size, $border-radius
  @include button-size(0.55rem, 1.2rem, 0.8rem, 0.3rem);
}

.btn-custom-red {
  @include button-variant($danger, $danger, #ffffff, #ffffff, $danger, $danger);
}

.btn-custom-blue {
  @include button-variant(
    $primary,
    $primary,
    #ffffff,
    #ffffff,
    $primary,
    $primary
  );
}

.btn-custom-gray {
  @include button-variant(
    #f7f7f7,
    #f7f7f7,
    $secondary,
    #ffffff,
    $secondary,
    $secondary
  );
}


//OffCanvas Nav-bar

.offcanvas {
  height: 100%;
  background-color: rgba(36, 42, 69, 0.9);  
  padding: 0.6em 1em 0 0.6em;
}

//Fix non clickable
.modal-backdrop {
  display: none; 
}

.btn-close {
  background-image: url("/assets/Imagenes/icon-close.svg");
  background-size: auto;
  opacity: 1;
  }


  @media (max-width: 768px) {
    
    .offcanvas-body > .navbar-nav > .nav-link {
     border-top: 1px solid rgba(255, 255, 255, 0.3);
     font-size: 1.1rem !important;
     color: white !important;
     padding-top: 15px;
     padding-bottom: 15px;
     &:nth-child(3){
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 15px;
      }

    }
  }
    
//-----------------

//Nav bar Red text on hover and Icon

.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/Imagenes/icon-hamburger.svg");
  background-size: auto;
  }


#navbarNavAltMarkup > div > a:hover {
  color: $danger !important;
}

//Customize nav-tab links

//Applies to all three navigation bars (top, bottom and also nav-tabs
.nav-link {
  font-size: 0.9rem;
  font-weight: bolder;
}



.nav-link-text {
  color:$secondary;
  
  &:hover {
    color: $danger;
  }

}

#features-tab .nav-item{
  border-bottom: 1px solid #dfe2e5;


  .nav-link.active {
    border-bottom: 3px solid $danger;

   }

}

@media (max-width: 768px) {
  #features-tab .nav-item {
    &:first-child{
      border-top: 1px solid #dfe2e5;
    }

    .nav-link{

      &.active {
        border-bottom: 1px solid #dfe2e5;

        position: relative;
    
        &::after{
          content: "";
          position: absolute;
          border-bottom: 3px solid $danger;
          width: 32%;
          left: 34%;
          padding-bottom: 0.9em;
        }
      }
    
  }}
}


//Accordion
.accordion {
  .accordion-item {
    border-right-style: none;
    border-left-style: none;
  }

  .accordion-button:hover {
    color: #FA5959
  }
}

.letter-spacing {
  letter-spacing: 0.2rem;
}

//Form validation

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-width: 3px;
  background-image:  url(/assets/Imagenes/icon-error.svg);
}

.invalid-feedback{
   margin-top: -0.5rem;

}


//Custom bg color navy
.bg-navy {
  background-color: #242946;
}

// Social icons change color on hover. Inesperadamente, no se pueden anidar con sintaxis de sass porque genera un extraño efecto en el cual, la parte del icono que no tiene colo(la f de facebook, no es considerada como parte del icono y por lo tanto no hay cambio de color a rojo cuando se pasa el icono sobre la letra f, pero si se escribe sin anidar, como está ahora, funciona como se espera)

.social-icon{
color: white;

}

.social-icon:hover {
  color:$danger
}


@media screen and (min-width: 768px) {


//Card spacing
// En el ejercicio 7 pide usar el pseudo selector nth-child y herencia de SASS para dar el posicionamiento. Las cards estan posicionadas usando margin, y el margin no se puede heredar usando herencia de sass, sino que se puede hacer override , al menos asi lo entiendo y no encontré utilidad en la herencia de sass para este ejercicio. 

  @for $i from 1 through 3 {
    .card-container .card-s:nth-child(#{$i}) {
      margin-top:2* $spacer*($i - 1);
    }
  }

  

  
}


@media screen and (max-width: 768px) {
//Will remove the top border of the first accordion item on small screen

  .accordion .accordion-item:nth-child(1){
    border-top: none;
  }
}



